@font-face {
  font-family: "Boostpest";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Boostpest.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}

#__layout {
  background: fixed;
  background-color: rgb(47, 4, 140, 0.8);
  background-blend-mode: multiply;
  background-image: url("images/space-odyssey-walkway-02.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}